@use '../abstracts/' as *;

button {
  background-color: tomtato;
  border-radius: 0rem;

  padding: 0.8rem 2.8rem;
  max-width: fit-content;

  font-family: $font-serif;
  @include font(1.4rem, 1.4rem, 400);
  letter-spacing: 0.05em;
  text-transform: capitalize;

  @extend %transition;
}

// green
.green {
  background-color: $button-green;
  box-shadow: inset 0px 0px 0px 2px $button-green;

  color: #ffffff;

  @include onHover() {
    background-color: #6dd862;
    box-shadow: inset 0px 0px 0px 2px #6dd862;

    color: #ffffff;
  }
}

.green.outlined {
  background-color: transparent;
  color: $primary-black;

  @include onHover() {
    background-color: $button-green !important;
    box-shadow: inset 0px 0px 0px 2px $button-green !important;

    color: #ffffff;
  }
}

//red
.red {
  background-color: $button-red;
  box-shadow: inset 0px 0px 0px 2px $button-red;

  color: #ffffff;

  @include onHover() {
    background-color: $button-gray;
    box-shadow: inset 0px 0px 0px 2px $button-gray;

    color: #ffffff;
  }
}

.red.outlined {
  background-color: transparent;
  color: $primary-black;

  @include onHover() {
    background-color: $button-red !important;
    box-shadow: inset 0px 0px 0px 2px $button-red !important;

    color: #ffffff;
  }
}

//gray
.gray {
  background-color: $button-gray;
  box-shadow: inset 0px 0px 0px 2px $button-gray;

  color: #ffffff;

  @include onHover() {
    background-color: $button-red;
    box-shadow: inset 0px 0px 0px 2px $button-red;

    color: #ffffff;
  }
}

.gray.outlined {
  background-color: transparent;
  color: $primary-black;

  @include onHover() {
    background-color: $button-gray !important;
    box-shadow: inset 0px 0px 0px 2px $button-gray !important;

    color: #ffffff;
  }
}

//white
.white {
  background-color: $button-white;
  box-shadow: inset 0px 0px 0px 2px $button-white;

  color: #ffffff;

  @include onHover() {
    background-color: $button-red;
    box-shadow: inset 0px 0px 0px 2px $button-red;

    color: #ffffff;
  }
}

.white.outlined {
  background-color: transparent;
  color: $button-white;

  @include onHover() {
    background-color: #474747 !important;
    box-shadow: inset 0px 0px 0px 2px $button-white !important;

    color: #ffffff;
  }
}
