// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts
$font-serif: 'Roboto Slab', 'Helvetica Neue Light', sans-serif !default;
$font-sans: 'Roboto', 'Times New Roman', Times, serif !default;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Colors
$primary-color-1: #f6ece5;
$primary-color-2: #b1ab99;
$primary-color-3: #2f4858;
$accent-color-1: #7c7766;
$accent-color-2: #e6f4f1;
$accent-color-3: #f0e5de;
// Explicitly set colors
$primary-black: #2f4858;
$primary-gray: #7c7766;
$primary-red: #b1ab99;
$primary-white: #f6ece5;
$primary-green: #66c05d;
$accent-green: #66c05d;

//breakpoints
$break-xs: 350px;
$break-sm: 600px;
$break-md: 1024px;
$break-lg: 1280px;
$break-xl: 1600px;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

//variables for button component
$button-green: #66c05d;
$button-gray: $primary-gray;
$button-red: $primary-red;
$button-white: $primary-white;
